body{
    padding-top: 70px;
    padding-bottom: 70px;
}
.radio_display{
    display:none;
}
.btn_margin{
    margin-right: 10px !important;
    margin-bottom: 5px !important;
}
h3{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
.jumbotron_color{
    color: inherit;
    background-color: #eee;
    padding-top: 16px; 
    padding-left: 10px;
    border-radius: 6px;
    padding-bottom: 16px;
}