.tran{
    font-size: 14px;
    z-index: 100;
    transition: font-size 0.2s;
    -moz-transition: font-size 0.2s;	/* Firefox 4 */
    -webkit-transition: font-size 0.2s;	/* Safari å’Œ Chrome */
    -o-transition: font-size 0.2s;
}
.tran:hover{
    font-size: 20px;
}
.btn_out{
    margin: 3px 20px;
}
