body{
    padding-top: 70px;
    padding-bottom: 70px;
}
.jumbotron_color{
    color: inherit;
    background-color: #eee;
    padding-top: 16px; 
    border-radius: 6px;
    padding-bottom: 16px;
}
.text_flex{
    display: flex;
    flex-direction: column;
}
.img_size{
    width:100%;
}
.input_size{
    width: 50px;
    display: inline;
}
.a_type{
    width: auto;
}
.radio_display{
    display:none;
}
.btn_margin{
    margin-right: 10px !important;
    margin-bottom: 5px !important;
}
.stock_size{
    font-size: 16px;
}
.bs-callout-info {
    border-left-color: #1b809e !important;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}