body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.checkbox_goods{
    float: left;
    margin-right: 10px !important;
    cursor: pointer;
}
.img_goods{
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.input_size{
    width: 50px;
    display: inline;
}
.p_margin{
    margin-top: 10px !important;
}
.strong_font{
    color: #FF5722;
    font-size: 18px;
}
.span_font{
    color: #FF5722;
}
.body_color{
    background-color: #eee;
}
.table_border{
    border-radius: 6px;
}
@media (max-width:375px){
    .table{
        overflow: visible !important;
    }
}
.table{
    overflow:hidden;
}   
.table tbody tr{
    border-radius: 6px !important;
}
.table-hover tbody tr{
    cursor: pointer;
}
.tdradius{
    border-radius: 6px;
}
.stock_size{
    font-size: 16px;
}
.tips_size{
    font-size: 12px;
}
.btn_margin{
    margin-right: 5px;
}
.h1_margin{
    margin-bottom: 20px !important;
}
.p_line{
    text-indent:2em;
    line-height: 1.6;
    font-size: 16px;
}
.content_color{
    background-color: #eee;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.p_padding{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.layui-upload-img {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
    border-radius: 100%;
}