.checkbox_goods{
    float: left;
    margin-right: 10px !important;
    cursor: pointer;
}
.img_goods{
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.input_size{
    width: 50px;
    display: inline;
}
.p_margin{
    margin-top: 10px !important;
}
.font_color{
    color: #FF5722;
    font-size: 18px;
}
.body_color{
    background-color: #eee;
}
.table_border{
    border-radius: 6px;
}
.table tr{
    border-radius: 6px !important;
}
.tdradius{
    border-radius: 6px;
}