.checkbox_goods{
    float: left;
    margin-right: 10px !important;
    cursor: pointer;
}
.img_goods{
    width: 60px;
    height: 60px;
    border-radius: 2px;
}
.input_size{
    width: 50px;
    display: inline;
}
.p_margin{
    margin-top: 10px !important;
}
.strong_font{
    color: #FF5722;
    font-size: 18px;
}
.span_font{
    color: #FF5722;
}
.body_color{
    background-color: #eee;
}
.table_border{
    border-radius: 6px;
}
@media (max-width:375px){
    .table{
        overflow: visible !important;
    }
}
.table{
    overflow:hidden;
}   
.table tbody tr{
    border-radius: 6px !important;
}
.table-hover tbody tr{
    cursor: pointer;
}
.tdradius{
    border-radius: 6px;
}