<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<!-- <mime-mapping>
	  <extension>ico</extension>
	  <mime-type>image/x-icon</mime-type>
	</mime-mapping> -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemType</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.ItemType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Recommend</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Recommend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Details</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Details</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Price</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Price</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Whether</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Whether</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Join</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Join</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Purchase</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Purchase</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Trolley</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Trolley</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoveOut</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.MoveOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Settlement</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Settlement</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Message</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Message</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Info</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyInfo</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.ModifyInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Word</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Word</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectBrand</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.SelectBrand</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginOut</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStatus</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.AdminStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectSpu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.SelectSpu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectSku</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.SelectSku</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectOrder</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.SelectOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NowBrand</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.NowBrand</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertBrand</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.InsertBrand</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NowSpu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.NowSpu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertSpu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.InsertSpu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailsPic</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.DetailsPic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertImg</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.InsertImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NowImg</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.NowImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertValue</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.InsertValue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NowValue</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.NowValue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertPrice</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.InsertPrice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePrice</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.UpdatePrice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStock</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.UpdateStock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBrandName</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.UpdateBrandName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSpu</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.UpdateSpu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectValue</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.SelectValue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateValue</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>admin.UpdateValue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Category</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Category</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Goods</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.Goods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchNum</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.SearchNum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchValue</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>shop.SearchValue</servlet-class>
  </servlet>















































  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/servlet/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemType</servlet-name>
    <url-pattern>/servlet/ItemType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/servlet/Recommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/servlet/Details</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Price</servlet-name>
    <url-pattern>/servlet/Price</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Whether</servlet-name>
    <url-pattern>/servlet/Whether</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Join</servlet-name>
    <url-pattern>/servlet/Join</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/servlet/Purchase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Trolley</servlet-name>
    <url-pattern>/servlet/Trolley</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoveOut</servlet-name>
    <url-pattern>/servlet/MoveOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Settlement</servlet-name>
    <url-pattern>/servlet/Settlement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/servlet/Order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/servlet/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/servlet/Message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/servlet/Info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyInfo</servlet-name>
    <url-pattern>/servlet/ModifyInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/servlet/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Word</servlet-name>
    <url-pattern>/servlet/Word</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectBrand</servlet-name>
    <url-pattern>/servlet/SelectBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/servlet/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/servlet/LoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStatus</servlet-name>
    <url-pattern>/servlet/AdminStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectSpu</servlet-name>
    <url-pattern>/servlet/SelectSpu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectSku</servlet-name>
    <url-pattern>/servlet/SelectSku</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectOrder</servlet-name>
    <url-pattern>/servlet/SelectOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NowBrand</servlet-name>
    <url-pattern>/servlet/NowBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertBrand</servlet-name>
    <url-pattern>/servlet/InsertBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NowSpu</servlet-name>
    <url-pattern>/servlet/NowSpu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertSpu</servlet-name>
    <url-pattern>/servlet/InsertSpu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailsPic</servlet-name>
    <url-pattern>/servlet/DetailsPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertImg</servlet-name>
    <url-pattern>/servlet/InsertImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NowImg</servlet-name>
    <url-pattern>/servlet/NowImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertValue</servlet-name>
    <url-pattern>/servlet/InsertValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NowValue</servlet-name>
    <url-pattern>/servlet/NowValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertPrice</servlet-name>
    <url-pattern>/servlet/InsertPrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePrice</servlet-name>
    <url-pattern>/servlet/UpdatePrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStock</servlet-name>
    <url-pattern>/servlet/UpdateStock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBrandName</servlet-name>
    <url-pattern>/servlet/UpdateBrandName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSpu</servlet-name>
    <url-pattern>/servlet/UpdateSpu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectValue</servlet-name>
    <url-pattern>/servlet/SelectValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateValue</servlet-name>
    <url-pattern>/servlet/UpdateValue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/servlet/Category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Goods</servlet-name>
    <url-pattern>/servlet/Goods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchNum</servlet-name>
    <url-pattern>/servlet/SearchNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchValue</servlet-name>
    <url-pattern>/servlet/SearchValue</url-pattern>
  </servlet-mapping>

	<listener>
	    <listener-class>listener.SessionListener</listener-class>
	</listener>

</web-app>